<configuration>
  <system.webServer>

    <staticContent>
 -    <mimeMap fileExtension=".tag" mimeType="text/html" />
 -    <mimeMap fileExtension=".json" mimeType="application/json" />
 -  </staticContent>

  <httpProtocol>
    <customHeaders>
      <add name="Access-Control-Allow-Origin" value="https://fiver.azurewebsites.net" />
      <add name="Access-Control-Allow-Methods" value="*" />
      <add name="Access-Control-Allow-Headers" value="accept, content-type, x-my-custom-header" />
      <add name="Access-Control-Allow-Credentials" value="true" />
    </customHeaders>
  </httpProtocol>

  </system.webServer>
</configuration>